<h1> Welcome to Battle </h1>
<h3> <%= $game.name($game.player_1) %> vs <%= $game.name($game.player_2) %> </h3>

<h4> <%= $game.name($game.player_1) %> HP: <%= $game.hitpoints($game.player_1) %> </h4>
<h4> <%= $game.name($game.player_2) %> HP: <%= $game.hitpoints($game.player_2) %> </h4>

<!-- Displays whose turn it is -->


<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>
